{
	"presets": [
		"env",
		"react"
	],
	"plugins": [
		"babel-plugin-add-module-exports",
		"transform-object-rest-spread",
		"styled-components",
		"transform-decorators-legacy",
    	"transform-class-properties"
	]
}