// Header ////////////////////////////
.header {
    // padding: 25px 30px 25px 50px; // TEMP
    padding: 5px 30px 5px 50px; // TEMP
    height: 77px; // TEMP
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    // position: relative;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: all .2s ease;
    background-color: $dark-gray;
    border-bottom: 1px solid $gray;
    // box-shadow: 0px 1px 2px 0px rgba(54,53,59,1);

    @include respond-to(handhelds) {
        // display: none;
    }
    &__logo {
        display: inline-block;
        // float: left;
        width: 163px;
        height: 100%;
        background-repeat: no-repeat;
        background-image: url(../img/main-logo.svg);
        background-size: contain;
        background-position: center;
        position: relative;
        // &::after {
        //     content: '';
        //     // background-image: url(../img/tkn-1year.svg);
        //     width: 45px;
        //     display: block;
        //     height: 34px;
        //     position: absolute;
        //     background-repeat: no-repeat;
        //     background-size: contain;
        //     bottom: -54px;
        //     left: 0px;
        // }
    }
}

.menu {
    display: flex;
    align-items: center;
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-left: 25px; */
        margin: 0; // TEMP
        padding: 0; // TEMP
    }
    &__item {
        // display: inline-block;
        color: $white;
        display: inline-flex;
        margin: 0 10px;
        height: 40px;
        width: 40px;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    &__link {
        padding: 5px 20px;
        display: inline-block;
        background: transparent;
        border: none;
        text-decoration: none !important;
        color: $white;
        font-size: 16px;
        line-height: 1.45;
        transition: color .2s ease;
        padding: 0; // TEMP
        &:visited {
            color: $white;
        }
        &:active {
            color: $green;
        }
        &:hover {
            color: $green;
        }
        // Indi Styles
        &_active {
            color: $green !important;
        }
        &_lang {
            font-size: 14px;
        }
        &_search {
            position: relative;
            top: 1px;
        }
    }
    &__icon {
        font-size: 16px;
    }
}
// Header END ////////////////////////////
