.home-container {
	position: relative;
	padding: 1px;
	// padding: 10px 330px;
	.filter-toggle {
		background: transparent;
		border: none;
		display: inline-flex;
		align-items: center;
		position: fixed;
		left: 40px;
		top: 127px;
		z-index: 9;
		cursor: pointer;
		transition: all .2s ease;
		&.is-hidden {
			z-index: 0;
		}
		&:hover {
			opacity: .7;
		}
		&__icon {
			font-size: 24px;
			color: $violet;
			margin-right: 8px;
			&_arrow {
				font-size: 20px;
				margin-left: 15px;
			}
		}
		&__text {
			font-size: 20px;
			font-weight: 300;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: $violet;
		}
	}
	.selected-params {
		min-height: 100px;
		background-color: $violet;
		position: fixed;
		bottom: 0;
		left: 315px;
		right: 315px;
		animation: fadeIn .2s ease;
		padding: 25px 230px 25px 50px;
		z-index: 201;
		transition: min-height .2s ease;
		&.closed {
			min-height: 0;
			height: 20px;
			padding: 0;
			.selected-params__title,
			.selected-params__list,
			.selected-params__btn-container {
				display: none;
			}
		}
		&__toggle {
			position: absolute;
			top: 0px;
    		right: 0px;
			background: transparent;
			outline: none;
			border: none;
			padding: 0;
			cursor: pointer;
			&__icon {
				color: $white;
				font-size: 20px;
				transition: color .2s ease;
				&:hover {
					color: $green;
				}
			}
		}
		&__btn-container {
			position: absolute;
			top: 16px;
			bottom: 16px;
			right: 60px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		&__btn {
			width: 140px;
			height: 40px;
			background-color: transparent;
			border: solid 2px $white;
			display: flex;
			justify-content: center;
			align-content: center;
			font-size: 18px;
			font-weight: 300;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0.9px;
			text-align: center;
			color: $white;
			text-transform: uppercase;
			cursor: pointer;
			transition: all .2s ease;
			&:hover {
				background-color: $white;
				color: $violet;
			}
			&:active {
				background-color: $white;
				color: $violet;
				opacity: .75;
			}
			&_reset {
				color: transparentize($white, 0.5);
				border: solid 2px transparent;
			}
		}
		&__title {
			font-size: 18px;
			text-transform: uppercase;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0.9px;
			text-align: left;
			color: $white;
			margin-bottom: 10px;
		}
		&__list {
			font-size: 18px;
    		font-weight: 300;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 1px;
			text-align: left;
			color: $white;
		}
		&__item {
			display: inline-block;
			margin-right: 10px;
			margin-top: 5px;
		}
	}
	.bar {
		margin: 40px 350px 0;
		&__title {
			font-size: 14px;
			text-transform: uppercase;
			margin-bottom: 20px;
			font-weight: 300;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 1px;
			text-align: center;
			color: $white;
		}
		&__line {
			height: 10px;
			background: linear-gradient(to left, #00dc9d, #45008d);
			position: relative;
			margin-bottom: 120px;
			&__point {
				width: 1px;
				height: 26px;
				background-color: $white;
				display: inline-block;
				position: absolute;
				top: 0;
				&_max {
					left: 0;
				}
				&_middle {
					left: 50%;
				}
				&_min {
					right: 0;
				}
			}
			&__value {
				display: inline-block;
				position: absolute;
				font-size: 20px;
				font-weight: 300;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				text-align: center;
				color: $white;
				top: 50px;
				&_max {
					left: 0;
				}
				&_middle {
					left: calc(50% - 65px);
				}
				&_min {
					right: 0;
				}
			}
		}
	}
}
